QWidget {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    background-color: #f5f5f5;
}

QLabel {
    font-weight: bold;
}

QTextEdit, QLineEdit {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

QPushButton {
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #45a049;
}

#btn_decrypt {
    background-color: #e74c3c; /* rojo intenso */
    color: white;
}

#btn_decrypt:hover {
    background-color: #c0392b;
}
